* {
    margin:0;
    padding: 0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.wrapperInputText {
    display: flex;
    flex-direction: column;
    background: rgba(256,256,256,0.6);
    border-radius: 5px;
    padding: 20px;
}

.styleMap {
    margin-top: 30px;
}

.styleMap select {
    outline: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 5px;
    border: none;
    background: rgba(256,256,256,0.8);
    box-sizing: border-box;
}

.containerInfo {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
    bottom: 50px;
}

.containerInfo input {
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding: 5px;
    border: none;
    background: rgba(256,256,256,0.8);
}

.containerInfo input:focus {
    background: rgba(256,256,256,0.95);
}

[data-value=false] {
    border: 1px solid red;
}

.wrapperDays {
    position:absolute;
    z-index: 1;
    bottom: 0;
    left: 40px;
    border-radius: 5px;
    display: flex;
}

.dayWeather {
    background: rgba(256, 256, 256, 0.8);
    margin: 0 10px;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}

input[data-value="false"] {
    border: 1px solid red;
}