* {
    margin:0;
    padding: 0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.wrapperInputText {
    display: flex;
    flex-direction: column;
    background: rgba(256,256,256,0.6);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.styleMap {
    margin-top: 30px;
}

.styleMap select {
    outline: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 5px;
    border: none;
    background: rgba(256,256,256,0.8);
    box-sizing: border-box;
}

.containerInfo {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
}

.containerInfo input[type=text] {
    outline: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    border: none;
    background: rgba(256,256,256,0.8);
}

.containerInfo input[type=text]:focus {
    background: rgba(256,256,256,0.95);
}

[data-value=false] {
    border: 1px solid red;
}

.wrapperDays {
    display: flex;
    position:absolute;
    z-index: 1;
    bottom: 40px;
    left: 40px;
    border-radius: 5px;
}

.dayWeather {
    background: rgba(256, 256, 256, 0.8);
    margin: 0 10px;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}

input[data-value="false"] {
    border: 1px solid red;
}

div.mapboxgl-ctrl-top-right {
    top: calc(50vh - 45px);
}

.wrapperCheckbox {
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 250px;
    background: rgba(256, 256, 256, 0.8);
    border-radius: 5px;
}
.wrapperCheckbox > div {
    margin: 20px 20px 20px 0;
    display: flex;
    align-items: center;
}

.wrapperCheckbox > div:first-child {
    margin-left: 20px;
}

.wrapperCheckbox input {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}